@import "fit.css";

:root {
	--darker1: #5b3900;
	--darker: #5b3900;
	--darker2: #5b3900;
	--lighter: #d7bd84;
}

#fields label, td, td a, th, table, tbody, tbody td, tbody th {
	border: none;
}

.title, .title th {
	color: white;	
}

input[type=submit], input[type=button], input[type=file]+label, button {
	background-image: linear-gradient(#888800,#888800,#888800);
	color: white;
	font-weight: bold;
}

select {
	background-image: linear-gradient(45deg, transparent 50%, white 50%),
		linear-gradient(135deg, white 50%, transparent 50%),
		linear-gradient(#888800,#888800,#888800);
}

.radiocontainer input:checked ~ .radiocheckmark, .dpDayHighlightTD, label.container input:checked ~ .checkmark {
	background-image: linear-gradient(#888800,#888800,#888800);
}

.dpTitleTR, .dpTodayButtonTR {
	background-color: #e5a688;
	background-image: linear-gradient(#888800,#888800,#888800);
}

.zebra tr:nth-child(even) td {
	background-color: #f7ebe3;
}

.zebra tr:hover td {
	background-color: #f9f9f9;
	cursor: pointer;
}
