@import "fit.css";

:root {
	--darker1: #3f5f9f;
	--darker:  #1f3f7f;
	--darker2: #001f5f;
	--lighter: #ccd7ef;
}

#fields label, td, td a, th, table, tbody, tbody td, tbody th {
	border: none;
}

.title, .title th {
	color: white;	
}