@import "fit.css";

:root {
	--darker1: #5c5085;
	--darker: #3e3267;
	--darker2: #1e1247;
	--lighter: #c1cd98;
}

#fields label, td, td a, th, table, tbody, tbody td, tbody th {
	border: none;
	color: #3e3267;
}

.title, .title th {
	color: white;	
}